.productdetail-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  padding: 100px 40px 100px 40px;
  background-color: #FEF4EC;
}

.create-image{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  height: 500px;
  width: 500px;
  min-width: 500px;
  margin: 0px 60px 100px 60px;
  background-color: #ffffff;
  border-radius: 10px;
}

.create-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.create-content{
  display: flex;
  flex-flow: column wrap;
  height: 750px;
  width: 500px;
  margin: 0px 60px 0px 60px;
  padding: 0px 50px 0px 50px;
  min-width: 500px;
  align-items: left;
  background-color: #ffffff;
  border-radius: 10px;
}

.create-formgroup{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: bold;
}


/*
.create-img img{
   position: absolute;
   max-width: 50%;
   max-height: 50%;
   width: 30%;
   height: auto;
   z-index: -1;
}

.create-formgroup{
    margin-left: 60vh;
    margin-bottom: 3vh;
}

.create-formgroup input ,span ,select ,button{
    margin-left: 10px
}

.create-formgroup-name{
    width: 300px;
    display:inline-block
}

.create-formgroup-description{
    width: 300px;
    height: 100px;
    display: inline-block;
}

.create-formgroup-price{
    width: 50px;
    height: 30px;
    display: inline-block;
} */
