.billing-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: top;
  position: relative;
  width: 450px;
  height: 650px;
  padding: 50px;
  overflow: auto;
  background-color:antiquewhite;
}

.biling-head{
  padding-bottom: 30px;
}

.biling-head h1{
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}

.biling-head h2{
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: bold;
}