.cart-container{
    display: inline-block;
}

h2{
    font-family: 'Montserrat';
    font-size: 48px;
    padding: 50px;
    text-align: left;
}

.cartlist-container{
    position: absolute;
    margin-left: 50px; 
    width: 800px;
    height: 550px;
    border: 1px solid black;
}

.billing-container{
    margin: 1px 30px 2px 80px;
}