.cart-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  position: relative;
  margin: 70px 100px 50px 100px;
}

.cart-header{
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: left;
}

.cart-info{
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  height: 750px;
  /* border: 1px solid; */
}

.cartlist-container{
  display: flex;
  justify-content: left;
  margin: 30px;
  max-height: 650px;
  /* border: 1px solid; */
}

.billing-container{
  display: flex;
  justify-content: left;
  margin: 30px;
}