.cart-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  position: relative;
  margin: 70px 100px 50px 100px;
}

.cart-header{
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: left;
}

.cart-info{
  display: flex;
  flex-flow: row wrap;
  height: 750px;
  border: 1px solid;
}

.cartlist-container{
  display: flex;
  justify-content: left;
  margin: 30px;
  max-height: 650px;
  /* border: 1px solid; */
}

.billing-container{
  display: flex;
  justify-content: left;
  margin: 30px;
}

/* h2{
    font-family: 'Montserrat';
    font-size: 48px;
    padding: 50px;
    text-align: left;
}

.cartlist-container{
    position: absolute;
    margin-left: 50px; 
    width: 800px;
    height: 550px;
    border: 1px solid black;
}

.billing-container{
    margin: 1px 30px 2px 80px;
} */