.productdetail-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  padding: 100px 40px 100px 40px;
  background-color: #FEF4EC;
}

.edit-image{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  height: 500px;
  width: 500px;
  min-width: 500px;
  margin: 0px 60px 100px 60px;
  background-color: #ffffff;
  border-radius: 10px;
}

.edit-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.edit-content{
  display: flex;
  flex-flow: column wrap;
  height: 800px;
  width: 500px;
  margin: 0px 60px 0px 60px;
  padding: 0px 50px 0px 50px;
  min-width: 500px;
  align-items: left;
  background-color: #ffffff;
  border-radius: 10px;
}

.create-formgroup{
  display: flex;
  flex-flow: row wrap;
  padding-top: 20px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
}

.create-formgroup p{
  padding-top: 3px;
  padding-bottom: 3px;
}

.create-formgroup-number{
  display: flex;
  flex-flow: row wrap;
  padding-top: 20px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
  width: 230px;
}

.create-formgroup-number p{
  padding-top: 3px;
  padding-bottom: 3px;
}

.create-formgroup-healthgoal{
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
}

.healthgoal-list{
  display: flex;
  max-height: 90px;
  max-width: 300px;
  flex-flow: row wrap;
  padding-left: 30px;
  overflow: auto;
}

.healthgoal-list Button{
  margin-right: 10px;
  margin-bottom: 10px;
}

.submit-container{
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

.submit-save-cancel{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.submit-cancel{
  width: 170px;
  margin-right: 25px;
}

.submit-save{
  width: 170px;
  margin-left: 25px;
}

.submit-remove{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 800px){
  .productdetail-container{
    min-width: 750px;
  }
}
