.cartlist-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: top;
  width: 700px;
  max-height: 650px;
  padding: 30px;
  border: 1px solid;
  overflow: auto;
}

.cartlist-container p{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}