.hero-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 50vh;
  position: relative;
}

.background-img {  
  width: 100%;
  height: 850px;
  object-fit: cover;
  object-position: 0% 1%;
}

.info-container {
  display: flex;
  margin-top: 200px;
	flex-flow: column wrap;
  justify-content: center;
	align-items: center; 
  position: absolute;
  text-align: center;
}

.center-header {
  font-family: 'EB Garamond';
  font-size: 72px;
  font-weight: 300;
  text-align: left;
}

.info-container p {
	margin-top: 15px;
	margin-bottom: 35px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 1px 0 black;
}

.btn {
  /* position: relative;
  top: 120px;
  left: 550px; */
	width: 350px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 16px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover,
.btn-focus {
  background: navy;
  color: azure;
}

.btn-active {
  background: darkblue;
}

@media screen and (max-width: 1150px){
  .info-container {
    height: auto;
    margin-top: 150px;
  }
}
