.card{
    position: relative;
    height: 350px;
    width: 250px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    cursor: pointer;
    margin: 8px;
    background-color: whitesmoke;
}

.card-image{
    margin-top: 2rem;
    height: 100%;
    width: auto;
}

.card-price{
  position: absolute;
  margin-top: 15rem;
  font-size: medium;
  color: black;
  display: flex;
  flex-direction: column;
}
.card-price span{
  margin: 5px;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  transition: 0.7s;
  opacity: 0;
}

.card-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateY(200px);
    transition: 0.3s;
}

.card-content h3{
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid #fff;
  } 

.card-title{
  position: relative;
  margin-top: -50px;
  padding: 3px 0;
}

.card-title::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.4s;
  transition-delay:0.5s; ;
}

.card-desc{
  font-size: 20px;
}

.card:hover .card-price{
  display: none;
}

.card:hover .overlay{
  opacity: 1;
}

.card:hover .card-content{
  transform: translateY(0);
}

.card:hover .card-title::after{
  width: 100%;
}

/* .card:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */


